<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Banquet Hall{% endblock %}</title>
    <!-- Ваши стили и скрипты могут быть подключены здесь -->
</head>
<body>
    <header>
        <h1>My Banquet Hall</h1>
        <!-- Навигационное меню, если необходимо -->
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <!-- Подвал сайта, если необходимо -->
    </footer>
</body>
</html>